


* {
    box-sizing: border-box;
  }
  main {
    min-height: 500px;
  }
  main .container h1 {
    margin-top: 64px;
    text-align: center;
    font-family: "Henny Penny", cursive;
     font-size: 60px;
     color: #F2CC0F;
background: #FFFFFF;
text-shadow: 2px 2px 0 #9453A6, 2px -2px 0 #9453A6, -2px 2px 0 #9453A6, -2px -2px 0 #9453A6, 2px 0px 0 #9453A6, 0px 2px 0 #9453A6, -2px 0px 0 #9453A6, 0px -2px 0 #9453A6;
    
  }
  main .container hr {
    background-color: #9453A6;
    height: 2px;
width: 70%;
    opacity: 1000;
    margin: 0 auto;
  }
 
main h2{
   
    font-family: 'Henny Penny', sans-serif;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 60px;

    color: #FFFFFF;
background: #FFFFFF;
text-shadow: 2px 2px 0 #9453A6, 2px -2px 0 #9453A6, -2px 2px 0 #9453A6, -2px -2px 0 #9453A6, 2px 0px 0 #9453A6, 0px 2px 0 #9453A6, -2px 0px 0 #9453A6, 0px -2px 0 #9453A6;
    }
    main .container .accordion-item button {
        background-color: #9453a6;
        background-image: linear-gradient(
          240deg,
        
          #8cbf3f 33%,
          #f2f2f2 66%,
          #F2CC0F 100%
        );
        font-family: "Roboto", sans-serif;
        font-weight: bolder;
        transition: 800ms;
        border-radius: 5000px;
        outline: none;
        border: none;
        
        
      }
      main .container .accordion-item button:hover {
        color: #9453A6;
      }
      main .container .accordion-item .accordion-body {
        background: #f2f2f2;
        font-family: "Roboto", sans-serif;
        color: #9453A6;
        font-weight: bold;

      }
      .accordion-button:focus {
        box-shadow: none;
        border-color: rgba(0, 0, 0, .125);
        color: #151515;
    }